* {
    padding:0;
    margin:0;
    box-sizing:border-box;
}

.blueberry { 
        max-width: 960px; 
}

.home {
    background-image:url();
}

.about {
    background-image:url();
}

.gallery {
    background-image:url();
}

.designers {
    background-image:url();
}

.contacts {
    background-image:url();
}

body {
    font-family:verdana, helvetica, arial, sans-serif;
    font-size:100%;
}
   
header {
    padding:10px 0;
    background:beige;
    overflow:hidden;
    position:fixed;
    top:0;
    left:0;
    width:100%;
}

#logo {
    float:left;
    width:130px;
}

nav {
    float:right;

}

nav li {
    float:left;
    list-style-type:none;
    margin-left:30px; 
    /* do not change the margin-left from pixels to % -leave it at pixels */
}

nav ul {
    
}

nav a {
    text-decoration:none;
}

#wrapper {
      max-width:1100px;
      margin:180px auto 20px auto;
}

header {
    padding:10px 0 0 0;
    position:fixed;
    top:0; /* for keeping stable */
    width:100%;
    background:rgba(255, 255, 255, .94);
    z-index:1;
}

.header-inner { /*for making header same width with wrapper */
    max-width:1100px; 
    margin:20px auto;
}

main {
    float:left;
    width:61.7%;
    height:300px;
    background:lightpink;
    margin-right:2.12%;
}

aside {
    float:right;
    width:36.17%;
    height:250px;
    background:lightblue;
}

.row {
    overflow:hidden;
    clear:both;
    padding:20px 0;
    margin-bottom:20px;
}

.col-8 {
    background:yellow;
    height:100px;
    float:left;
    width:12.02%;
    margin-right:0.42%;
    display:inline;
}

.col-8:last-of-type {
    margin-right:0;
}

.home #primary li:nth-child(1) a, 
.about #primary li:nth-child(2) a,
.gallery #primary li:nth-child(3) a,
.designers #primary li:nth-child(4) a,
.contacts #primary li:nth-child(5) a {
    background-color:lightblue;
    color:#000;
    text-align:center;
}

footer {
        clear:both;
        background-color:#fff;
        height:50px;
        line-height:50px;
        border-top:1px dotted #666;
        padding-left:20px;
        font-size:.9em; 
}

footer ul {
    float:right;
}

footer li {
    float:left;
    list-style-type:none;
    margin-left:30px;
    color:#666;
}

footer a {
    color:#666;
}

footer img {
    height:45px;
    margin-bottom:4px;
}


